/* Mise en page du formulaire*/

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
}

input {
    box-sizing:content-box;
    width: 100%;
    margin: 5pt, 0 pt;
}

/* Sélecteurs multiples pour l'élément <input> */
div > input{
    background-color: aliceblue;
}


.rounded-border{
    border-radius: 10 px;
}


/* Exercice supplémentaire */